body{
    padding: 0;
    margin: 0;
    background-color: #21006f;
}
h1{
    text-align: center;
    color: white;
    font-size: 3em;   
}
form{
    margin-left: 35vw;
    margin-top: 10vh;
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: rgb(10, 0, 46);
    border-radius: 12px;
    box-shadow: 5px 5px 15px 2px rgba(148,148  , 148, .1);
}
table{
    padding: 5% 10px;
}
#display{
    margin: 15px 10px;
    padding: 10px 4px;
    font-size: 20px;
    width: 250px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgba(148,148  , 148, .1);
}
/* input{
    o/utline: none;
} */

input {
    font: sans-serif;
    padding: 0;
    width: 65px;
    height: 65px;
    font-size:28px;
    background-color:black;
    color: rgb(241, 243, 243) ;
    opacity: .8;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 2px rgba(241, 133, 133, 0.1);
}

input:hover{
    color: black;
    box-shadow: 5px 5px 15px 2px rgba(34, 10 , 255, .4);
    background-color: yellow;
}