div.highway-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    div.highway-barrier {
        overflow: hidden;
        position: relative;
    }
    ul.highway-lane {
        display: flex;
        height: 100%;
        li.highway-car {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@keyframes translateinfinite {
    100% {
        transform: translateX(calc(-180px * 4.5));
    }
}

#infinite div.highway-barrier {
    &::before,
    &::after {
        content: " ";
        position: absolute;
        z-index: 9;
        width: 180px;
        height: 100%;
    }
    // &::before {
    //     top: 0;
    //     left: 0;
    //     background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    // }
    // &::after {
    //     top: 0;
    //     right: 0;
    //     background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    // }
    ul.highway-lane {
        width: calc(180px * 9);
        li.highway-car {
            width: 180px;
            animation: translateinfinite 20s linear infinite;
        }
    }
}